[submodule "lib/websocketpp"]
	path = lib/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "examples/iOS/SioChatDemo/boost"]
	path = examples/iOS/SioChatDemo/boost
	url = https://github.com/alist/boostmake_ios.git
